$brand-primary:#f8ad47;
$brand-danger: #ff3956;
$btn-primary-color-dark: darken($brand-primary, 25%);
$btn-danger-color-dark: darken($brand-danger, 25%);

.custom-btn-primary2 {
    color: #000;
    background-color: $brand-primary !important;
    border-color: $brand-primary !important;
    margin: 10px 0 0;
}

.custom-btn-primary2:hover {
    background-color: $btn-primary-color-dark !important;
    border-color: $btn-primary-color-dark !important;
    color: #000 !important;
}


.custom-btn-danger {
    color: $brand-danger !important;
    border-color: $brand-danger !important;
    background-color: transparent !important;
    border-radius: 3px !important;
}

.custom-btn-danger:hover, .custom-btn-danger:active, .custom-btn-danger:focus {
    color: $btn-danger-color-dark !important;
    border-color: $btn-danger-color-dark !important;
    background-color: transparent !important;
}